
@font-face{
    font-family: 'Cabin', sans-serif;
    font-family: 'Lobster', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Lobster&display=swap" rel="stylesheet');
}

:root{
    --white : #fff;
    --black : #000;
    --gris : #373a3c;
    --danger : #dc3545;
    --gris-claro: #dddddd;
}

body{
    font-family: 'Cabin', sans-serif;
}

.navbar{
    background-color: var(--gris);
}

.navbar-brand{
    font-family: 'Lobster', sans-serif;
}

.nav-link{
    color: var(--white);
}

.nav-link:hover{
    color:var()
}

.carousel .carousel-indicators button{
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

.texto--footer-ricomida{
    font-family: 'Lobster', sans-serif;
}

footer{
    background-color: var(--danger);
}